<html>
<head>
    <title>densha : login</title>
    <%= stylesheets %>
    <%= javascript_include_tag "prototype" %>
	<script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/97f9f8c071774ba46cccf0d121b5a4cb8ce41ba9" charset="utf-8"></script>

</head>
<style>
#openid_url {
  background: url(http://openid.net/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
</style>
<body>
    <div id="content">
        <div id="banner">
            <div id="openwfe-logo">
                <a href="http://openwferu.rubyforge.org"><img src="/images/openwfe-logo.png"/></a>
            </div>
        </div>

        <div id="breadcrumbs">
            <div style="float:left">
                open source ruby workflow and bpm engine
            </div>
            <div style="float:right">
                please log in
            </div>
        </div>

        <div id="postbreadcrumbs">
        </div>

        <div id="flash"><%= flash[:notice] %></div>

        <div id="corebox">
            <%= yield :layout %>
        </div>

        <div id="footer">
            (c) 2007-2008 OpenWFE.org
        </div>
    </div>
</body>
</html>

